<!doctype html>
<html>
<head>
<Ltle>Mongo demo - User Info</Ltle> </head>
<body>
<h2>{{user.name.first}} {{user.name.last}}</h2> <ul>
<li>Email address: {{user.email}}</li>
<li>Home state: {{user.homestate}}</li>
</ul>
<a href="/edit">
<button type=“button”>Edit</button> </a>
<a href="/">
<button type=“button”>Home</button> </a>
</body>
</html>