<!doctype html>
<html>
<head>
<Ltle>Mongo demo - User list</Ltle> </head>
<body>
<h2>Registered Users</h2>
<ul>
{{#each users}}
<li><a href="/user?userid={{_id}}">{{name.first}} {{name.last}}</li></a>{{/each}}
</ul>
</ul>
<a href="/adduser">
<button type="button">Add User</button>
</a>
</body>
</html>